@-webkit-keyframes playerIdle {
  0.001% {
    background-position-x: 0px;
  }
  0% {
    background-position-x: 0px;
  }
  10% {
    background-position-x: 0px;
  }
  10.001% {
    background-position-x: -550px;
  }
  20% {
    background-position-x: -550px;
  }
  20.001% {
    background-position-x: -1100px;
  }
  30% {
    background-position-x: -1100px;
  }
  30.001% {
    background-position-x: -1650px;
  }
  40% {
    background-position-x: -1650px;
  }
  40.001% {
    background-position-x: -2200px;
  }
  50% {
    background-position-x: -2200px;
  }
  50.001% {
    background-position-x: -2750px;
  }
  60% {
    background-position-x: -2750px;
  }
  60.001% {
    background-position-x: -3300px;
  }
  70% {
    background-position-x: -3300px;
  }
  70.001% {
    background-position-x: -3850px;
  }
  80% {
    background-position-x: -3850px;
  }
  80.001% {
    background-position-x: -4400px;
  }
  99.999% {
    background-position-x: -4400px;
  }
  100% {
    background-position-x: 0px;
  }
}

@-webkit-keyframes playerAttack {
  0% {
    background-position-x: 0px;
    background-position-y: -75px;
    left: 0%;
  }
  0.001% {
    background-position-x: -550px;
    background-position-y: -75px;
    left: 3%;
  }
  5% {
    background-position-x: -550px;
    background-position-y: -75px;
    left: 3%;
  }
  5.001% {
    background-position-x: -1100px;
    background-position-y: -75px;
    left: 6%;
  }
  10% {
    background-position-x: -1100px;
    background-position-y: -75px;
    left: 6%;
  }
  10.001% {
    background-position-x: -1650px;
    background-position-y: -75px;
    left: 9%;
  }
  15% {
    background-position-x: -1650px;
    background-position-y: -75px;
    left: 9%;
  }
  15.001% {
    background-position-x: -2200px;
    background-position-y: -75px;
    left: 12%;
  }
  20% {
    background-position-x: -2200px;
    background-position-y: -75px;
    left: 12%;
  }
  20.001% {
    background-position-x: -2750px;
    background-position-y: -75px;
    left: 15%;
  }
  25% {
    background-position-x: -2750px;
    background-position-y: -75px;
    left: 15%;
  }
  25.001% {
    background-position-x: -3300px;
    background-position-y: -75px;
    left: 18%;
  }
  30% {
    background-position-x: -3300px;
    background-position-y: -75px;
    left: 18%;
  }
  30.001% {
    background-position-x: -3850px;
    background-position-y: -75px;
    left: 21%;
  }
  35% {
    background-position-x: -3850px;
    background-position-y: -75px;
    left: 21%;
  }
  35.001% {
    background-position-x: -4400px;
    background-position-y: -75px;
    left: 24%;
  }
  40% {
    background-position-x: -4400px;
    background-position-y: -75px;
    left: 24%;
  }
  40.001% {
    background-position-x: -4950px;
    background-position-y: -75px;
    left: 27%;
  }
  45% {
    background-position-x: -4950px;
    background-position-y: -75px;
    left: 27%;
  }
  45.001% {
    background-position-x: -5500px;
    background-position-y: -75px;
    left: 30%;
  }
  50% {
    background-position-x: -5500px;
    background-position-y: -75px;
    left: 30%;
  }
  50.001% {
    background-position-x: -6050px;
    background-position-y: -75px;
    left: 33%;
  }
  55% {
    background-position-x: -6050px;
    background-position-y: -75px;
    left: 33%;
  }
  55.001% {
    background-position-x: -6600px;
    background-position-y: -75px;
    left: 37%;
  }
  60% {
    background-position-x: -6600px;
    background-position-y: -75px;
    left: 37%;
  }
  60.001% {
    background-position-x: -7150px;
    background-position-y: -75px;
    left: 41%;
  }
  65% {
    background-position-x: -7150px;
    background-position-y: -75px;
    left: 41%;
  }
  65.001% {
    background-position-x: -7700px;
    background-position-y: -75px;
    left: 45%;
  }
  70% {
    background-position-x: -7700px;
    background-position-y: -75px;
    left: 45%;
  }
  70.001% {
    background-position-x: -8250px;
    background-position-y: -75px;
    left: 49%;
  }
  75% {
    background-position-x: -8250px;
    background-position-y: -75px;
    left: 49%;
  }
  75.001% {
    background-position-x: -8800px;
    background-position-y: -75px;
    left: 50%;
  }
  80% {
    background-position-x: -8800px;
    background-position-y: -75px;
    left: 50%;
  }
  80.001% {
    background-position-x: -9350px;
    background-position-y: -75px;
    left: 50%;
  }
  85% {
    background-position-x: -9350px;
    background-position-y: -75px;
    left: 50%;
  }
  85.001% {
    background-position-x: -9900px;
    background-position-y: -75px;
    left: 50%;
  }
  90% {
    background-position-x: -9900px;
    background-position-y: -75px;
    left: 50%;
  }
  90.001% {
    background-position-x: -10450px;
    background-position-y: -75px;
    left: 50%;
  }
  95% {
    background-position-x: -10450px;
    background-position-y: -75px;
    left: 50%;
  }
  95.001% {
    background-position-x: -10450px;
    background-position-y: -75px;
    left: 50%;
  }
  99.999% {
    background-position-x: -10450px;
    background-position-y: -75px;
    left: 50%;
  }
  100% {
    background-position-x: -10450px;
    background-position-y: -75px;
    left: 50%;
  }
}

@-webkit-keyframes playerDead {
  0% {
    background-position-x: 0px;
  }
  10% {
    background-position-x: 0px;
  }
  10.001% {
    background-position-x: -550px;
  }
  20% {
    background-position-x: -550px;
  }
  20.001% {
    background-position-x: -1100px;
  }
  30% {
    background-position-x: -1100px;
  }
  30.001% {
    background-position-x: -1650px;
  }
  40% {
    background-position-x: -1650px;
  }
  40.001% {
    background-position-x: -2200px;
  }
  50% {
    background-position-x: -2200px;
  }
  50.001% {
    background-position-x: -2750px;
  }
  60% {
    background-position-x: -2750px;
  }
  60.001% {
    background-position-x: -3300px;
  }
  70% {
    background-position-x: -3300px;
  }
  70.001% {
    background-position-x: -3850px;
  }
  80% {
    background-position-x: -3850px;
  }
  80.001% {
    background-position-x: -4400px;
  }
  99.999% {
    background-position-x: -4400px;
  }
  100% {
    background-position-x: -4400px;
  }
}

@-webkit-keyframes playerDamage {
  0% {
    background-position-x: 0px;
  }
  50% {
    background-position-x: 0px;
  }
  50.001% {
    background-position-x: -550px;
  }
  100% {
    background-position-x: -550px;
  }
}


.player-idle-sprite {
  background: url(../images/cop-sprites/player-idle.png);
  background-position-y: center;
}

.player-attack-sprite {
  background: url(../images/cop-sprites/player-attack.png);
}

.player-damage-sprite {
  background: url(../images/cop-sprites/player-damage.png);
}

.player-dead-sprite {
  background: url(../images/cop-sprites/player-dead.png);
}

.player-idle-animation {
  position: absolute;
  left: 3%;
  bottom: 5%;

  background-repeat: no-repeat;
  background-position-y: -100px;

  transform: scale(0.8);
  -webkit-animation-name: playerIdle;
  -webkit-animation-duration: 430ms;
  animation-iteration-count: infinite;
}

.player-attack-animation {
  position: absolute;
  left: 3%;
  bottom: 5%;

  background-repeat: no-repeat;
  background-position-y: -75px;
  
  transform: scale(0.8);
  -webkit-animation-name: playerAttack;
  -webkit-animation-duration: 1500ms;
}

.player-dead-animation {
  position: absolute;
  left: 3%;
  bottom: 5%;
  
  background-repeat: no-repeat;
  background-position-y: -40px;

  transform: scale(0.8);
  -webkit-animation-name: playerDead;
  -webkit-animation-duration: 1000ms;
}

.player-damage-animation {
  position: absolute;
  left: 3%;
  bottom: 5%;

  background-repeat: no-repeat;
  background-position-y: -50px;

  transform: scale(0.8);
  -webkit-animation-name: playerDamage;
  -webkit-animation-duration: 200ms;
}